body {
  font-family: sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  color: #333;
}

#app {
  max-width: 600px;
  margin: 0 auto;
}

.description {
  background-color: #3d49f3;
  color: #fff;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 0.8rem;
  position: relative;
  top: -3px;
}
